body {
  margin: 0;
  padding: 0;
  font-family: Times New Roman, Times, serif;
  background: #fff;
}

.header-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px 30px 0 10px;
}

.logo {
  height: 80px;
}
.user-actions {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 30px;
  right: 40px;
}

.user-actions a {
  text-decoration: none;
  color: #222;
  font-size: 17px;
}

.navbar {
  background: gray;
  margin: 0;
  padding: 10px 0;
}
.navbar a {
  color: #222;
  text-decoration: none;
  margin: 0 25px;
  font-size: 18px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  margin: 0;
  display: flex;
  list-style: none;
  padding: 0;
}
.menu li {
  padding-left: 0;
  margin-right: 10px;
  align-items: center;
}
.menu li a {
  margin: 10px;
  color: black;
  text-decoration: none;
  display: inline-block;
  position: relative;
  align-items: center;
}
.title {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  font-size: 48px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  position: relative;
}
